.loading-spinner {
  height: 48px;
  width: 48px;
  color: #5a5a5a;
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-top-color: transparent;
  @extend %spinRotate;
}

.error-cross {
  position: relative;
  left: -20px;
  width: 48px;
  height: 48px;

  &:before,
  &:after {
    position: absolute;
    left: 42px;
    content: " ";
    height: 50px;
    width: 7px;
    background-color: #5a5a5a;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.info-icon {
  height: 3rem;
  width: 3rem;

  & img {
    position: relative;
    left: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    filter: invert(0.2);
  }
}
