.loading-spinner {
  height: 48px;
  width: 48px;
  color: #5a5a5a;
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-top-color: transparent;
  @extend %spinRotate;
}

.error-cross {
  position: relative;
  left: -20px;
  width: 48px;
  height: 48px;

  &:before,
  &:after {
    position: absolute;
    left: 42px;
    content: " ";
    height: 50px;
    width: 7px;
    background-color: #5a5a5a;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.info-icon {
  height: 3rem;
  width: 3rem;

  & img {
    position: relative;
    left: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    filter: invert(0.2);
  }
}

$pageCtrlHeight: 200px;

.page-ctrl {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $pageCtrlHeight;
  background-color: rgba(black, $alpha: 0.7);
  display: flex;

  :nth-child(1), :nth-child(3) {
    color: map-get($text-color, result);
    flex: 1;
    position: relative;

    img {
      max-width: 3.6rem;
      filter: invert(1);
      position: absolute;
      top: calc(50% - 1.8rem);
      left: calc(50% - 1.8rem);
    }
  }

  :nth-child(3) > img {
    transform: rotate(180deg);
  }

  :nth-child(2) {
    border-radius: 5px;
    width: 3px;
    background-color: map-get($text-color, result);
    margin: 20px 10px;
  }
}
