.row {
  display: grid;
  width: calc(100% - 2rem);
  color: map-get($text-color, result);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin: 2rem 1rem 3rem 1rem;
  opacity: 0;
  transition: color 0.5s;
  @extend %fadeIn;

  &--song-list {
    grid-template-columns: 0.6fr 0.4fr 5rem;
    grid-template-areas: "title artist position";
  }

  &--file-list {
    grid-template-columns:0.65fr 0.35fr;
    grid-template-areas:"fileName fileFolder";
  }

  &--on-load {
    color: rgb(160, 160, 160);
  }

  &--loaded {
    color: rgb(132, 233, 0);
  }
}

%resultGrid {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}

.column {
  &-title {
    @extend %resultGrid;
    justify-content: start;
    grid-area: title;
  }

  &-artist {
    @extend %resultGrid;
    font-size: 1.1rem;
    grid-area: artist;
    white-space: pre-wrap;
    text-align: center;
  }

  &-position {
    @extend %resultGrid;
    grid-area: position;  
  }

  &-fileName {
    @extend %resultGrid;
    grid-area: fileName;
    justify-content:start;
  }

  &-fileFolder {
    @extend %resultGrid;
    grid-area: fileFolder;
  }
}
